.header {
  color: #ffffff;
  background-color: #254f55;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1rem calc(5vw + 1rem);

  h1 {
    font-family: Garamond;
    font-size: 3rem;
    margin: 1rem 0;
  }

  button.example {
    margin-left: auto;
    margin-right: 1rem;
  }

  button.example,
  button.save-pdf {
    background-color: #e9e9e9;
    color: #254f55;
    padding: 1rem;
  }

  button.example:active,
  button.save-pdf:active {
    background-color: #c2c2c2;
  }
}
