.output-sheet {
  position: sticky;
  top: 20px;

  hr {
    border-top: 1px solid grey;
  }

  .entry-wrap {
    p {
      margin: 0 0 0.5rem 0;
    }

    .position-date {
      font-size: 0.9rem;
    }
  }

  .personal-output {
    margin: -1vw;
    margin-bottom: 0;

    .name-header {
      color: #fff;
      background-color: #25552a;
      font-size: 2.5rem;
      margin: 0;
      padding: 1vw;
      min-height: 75px;
    }

    .statement-with-details {
      display: flex;
      align-items: flex-start;
      min-height: 10vh;

      .statement {
        flex: 1 1 65%;
        padding: 1vw;
        margin: 0;
      }

      .personal-details {
        color: #fff;
        background-color: #6373ac;
        flex: 1 1 35%;
        align-self: center;
        padding: 1vw;

        p {
          margin: 0 0 1rem 0;
        }

        p:last-child {
          margin: 0;
        }
      }
    }
  }

  .experience-output p {
    white-space: pre-line;
  }
}
