.sheets-wrap {
  display: flex;
  align-items: flex-start;
  margin: 2rem 5vw;

  .input-sheet,
  .output-sheet {
    flex: 1 1 50%;
    margin: 1rem;
    padding: 1vw;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 1200px) {
    & {
      flex-direction: column;
    }

    .input-sheet,
    .output-sheet {
      width: 100%;
      margin: 0;
    }

    .input-sheet {
      margin-bottom: 2rem;
    }
  }
}
